#map {
    height: 100vh;
    width: 100%;
    /* cursor: grab; */
    /* z-index: 0; */
}

.map .ol-zoom {
    position: absolute;
    bottom: 1.2rem;
    right: 0.8rem;
    top: auto;
    left: auto;

}

.ol-overviewmap-map,
.ol-overviewmap.ol-control button {
    position: absolute !important;
    bottom: 1.4rem !important;
    left: 0.4rem !important;
    top: auto !important;
    right: auto !important;

}


#loading-spinner {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11000;
}

.info {
    display: contents;
}

.feedback {
    font-size: small;
    display: block;
}

.feedback.boleh {
    font-size: small;
    display: block;
    background-color: #38a838;
    width: 7rem;
    padding: 0.1rem 0.2rem 0.1rem 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    border-radius: 12px;
}

.feedback.bolehBersyarat {
    font-size: small;
    display: block;
    background-color: rgb(236, 249, 58);
    width: 11rem;
    padding: 0.1rem 0.2rem 0.1rem 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    border-radius: 12px;
}

.feedback.tidakBoleh {
    font-size: small;
    display: block;
    background-color: rgb(239, 24, 24);
    width: 10rem;
    padding: 0.1rem 0.2rem 0.1rem 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    border-radius: 12px;
}

.sidepanel {
    width: 25vw;
    height: 100vh;
    min-width: 100px;
    position: absolute;
    top: 0;
    left: -25vw;
    background-color: #f5f5f5;
    transition: left 0.3s ease;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.sidepanel-content {
    max-height: 95vh;
    overflow-y: auto;
}

.sidepanel.expanded {
    left: 0;
}

.toggle-sidepanel {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    background-color: #f5f5f5;
    color: #0e0e0e;
    top: calc(50% - 22px);
    left: calc(100% - 16px);
    padding: 8px;
    padding-bottom: 8px;
    transform: rotate(90deg);
    z-index: 1;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 8px;
}

.radio_item {
    display: none !important;
}

.label_item {
    opacity: 0.3;
    width: 82px;
    height: 82px;
}

.radio_item:checked+label {
    opacity: 1;
}

label {
    cursor: pointer;
}

.label_item>img {
    width: 100%;
}

.label_item>span {
    font-size: 14px;
    position: absolute;
    z-index: 2;
    bottom: 2px;
    text-shadow: 1px 1px 3px #333;
    color: white;
    left: 1px;
}

.label_item {
    transition: all 0.3s;
    position: relative;
    display: inline-block;
}

.symbology {
    display: block;
    font-size: 14px;
    color: #000000;
    padding-bottom: 1px;

}

.irs-diapason,
.noUi-origin-lower {
    background: #48ac2e;
}

#panelID {
    z-index: 1050;
}

.leaflet-top.leaflet-left {
    z-index: 1050 !important;
}

/* Side Panel */
#lumap {
    padding: 0.8rem;
}

#lumapi {
    padding: 0.8rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    padding: 0.2rem;
    margin-bottom: 8px;
}

.checkbox-label .legend-color {
    margin-right: 10px;
}

.checkbox-label input[type="checkbox"] {
    order: 2;
    margin-left: auto;
}

.checkbox-label label {
    order: 1;
    margin-bottom: 8px;
}

.checkbox-label i {
    margin-right: 5px;
}

.checkbox-label input[type="checkbox"] {
    zoom: 1.3;
}

.checkbox-label input[type="checkbox"]:checked::before {
    background-color: #0004e6;
    /* Warna latar belakang ketika checkbox tercentang */
    border-color: #0032e6;
    /* Warna border ketika checkbox tercentang */
}

.legend-icon img {
    align-items: center;
    width: 25px;
}

/* Legend */
.legend-panel {
    position: absolute;
    z-index: 0;
    width: 30vh;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.legend-item1000 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item0 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item1 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item2 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item3 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item4 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item5 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item5 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-img {
    display: flex;
    align-items: center;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#map .leaflet-control-zoom {
    margin: 1.4rem 0.5rem;
}

.leaflet-top.leaflet-left {
    z-index: 10002;
}

/* Container button-section-group */
#button-section-group {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: auto;
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 10px;
    z-index: 1001;
}

@media (max-width: 768px) {
    #button-section-group {
        width: 88%;
        height: auto;
    }

    #toggle-section-group {
        width: 100%;
        height: auto;
    }
}

#login-btn {
    z-index: 1000;
}

.modal-dialog {
    z-index: 10000;
}


#spinners {
    display: none;
    z-index: 1000;
}

#spinnerss {
    display: none;
    z-index: 1000;
}

.modal-backdrop {
    z-index: auto;
}

.card-body {
    padding: 0.25rem 0.5rem;
}

#loginModal {
    z-index: 1055;
}

/* Search */
.search-container {
    display: contents;
    width: 100%;
    max-width: 500px;
}

.input-cari {
    flex: 1;
    border-radius: 0;
}

.btn-cari {
    border-radius: 0;
    border: none;
    background-color: #007bff;
}

.btn-cari:hover {
    background-color: #0069d9;
}

/* add  */
.select2-container {
    z-index: 50000;
}

/* Modal custom */
.modalAdds {
    display: none;
    position: fixed;
    z-index: 11001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header h3 {
    margin: 10px 20px;
}

.modalAdd-content {
    position: relative;
    margin: 10% auto;
    margin-top: 4vh;
    margin-bottom: 2vh;
    background-color: #fefefe;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
    width: 70%;
    animation-name: fade;
    animation-duration: 0.3s;
}

.modalAdd-content hr {
    margin: auto;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close-button {
    background-color: #f44336;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modalAdd-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
}

@media screen and (max-width: 900px) {
    .sidepanel {
        width: 40vw;
        left: -40vw;
    }
}

@media screen and (max-width: 600px) {
    .modalAdd-content {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media screen and (max-width: 420px) {
    .sidepanel {
        width: 65vw;
        left: -65vw;
    }
}