/* Header Nav*/
header {
    position: absolute;
    background: #ffffff;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
}

header .logo {
    color: rgb(83, 83, 83);
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
    z-index: 11;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li .nav-link {
    font-weight: 500;
    color: rgb(0, 0, 0);
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

header nav ul li .nav-link:hover {
    color: #2e35bc;
}

.menu-toggle {
    color: rgb(94, 94, 94);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* map body */
#map {
    height: 96vh;
    width: 100%;
    cursor: grab;
    /* z-index: 0; */
}

.map .ol-zoom {
    position: absolute;
    bottom: 2rem;
    right: 0.8rem;
    top: auto;
    left: auto;
    scale: 1.2;

}

.ol-overviewmap-map,
.ol-overviewmap.ol-control button {
    position: absolute !important;
    bottom: 1.4rem !important;
    left: 0.4rem !important;
    top: auto !important;
    right: auto !important;

}

#ruler-button {
    position: absolute;
    top: 10rem;
    right: 10px;
    scale: 1.2;
}

/* Side Panel Layer */
.sidepanel {
    width: 25vw;
    height: 100vh;
    min-width: 100px;
    position: absolute;
    top: 0;
    left: -25vw;
    background-color: #f5f5f5;
    transition: left 0.3s ease;
    z-index: 10;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.sidepanel-content {
    max-height: 95vh;
    overflow-y: auto;
}

.sidepanel.expanded {
    left: 0;
}

.toggle-sidepanel {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    background-color: #f5f5f5;
    color: #0e0e0e;
    top: calc(50% - 22px);
    left: calc(100% - 16px);
    padding: 8px;
    padding-bottom: 8px;
    transform: rotate(90deg);
    z-index: 1;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 8px;
}

.radio_item {
    display: none !important;
}

.label_item {
    opacity: 0.3;
    width: 82px;
    height: 82px;
}

.radio_item:checked+label {
    opacity: 1;
}

label {
    cursor: pointer;
}

.label_item>img {
    width: 100%;
}

.label_item>span {
    font-size: 14px;
    position: absolute;
    z-index: 2;
    bottom: 2px;
    text-shadow: 1px 1px 3px #333;
    color: white;
    left: 1px;
}

.label_item {
    transition: all 0.3s;
    position: relative;
    display: inline-block;
}

.symbology {
    display: block;
    font-size: 14px;
    color: #000000;
    padding-bottom: 1px;

}

/* button custom */
#login-btn {
    z-index: 100;
}

.asbn {
    background-color: none;
    border: none;
    padding: 3px 6px;
    font-size: 1rem;
}

.xs-btn {
    font-size: 12px;
    padding: 6px;
}

.s-btn {
    font-size: 14px;
    padding: 8px;
}

/* loading login logout */
#spinners {
    display: none;
    z-index: 1000;
}

#spinnerss {
    display: none;
    z-index: 1000;
}

/* Modal custom / modal cek kesesuaian */
.modal-dialog {
    z-index: 100;
}

.modal-backdrop {
    z-index: 10;
}

#loginModal {
    z-index: 100;
}

.modalAdds {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header h3 {
    margin: 10px 20px;
}

.modalAdd-content {
    position: relative;
    margin: 10% auto;
    margin-top: 1vh;
    margin-bottom: 0;
    background-color: #fefefe;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
    width: 80%;
    animation-name: fade;
    animation-duration: 0.3s;
}

.modalAdd-content hr {
    margin: auto;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close-button {
    background-color: #f44336;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modalAdd-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
}

#div_hasilCek img {
    height: 2rem;
}

.info_status {
    font-size: small;
    display: block;
}

p.boleh {
    font-size: small;
    display: block;
    background-color: #66ff66;
    width: 13rem;
    padding: 0.1rem 0.2rem 0.1rem 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    border-radius: 12px;
}

p.bolehBersyarat {
    font-size: small;
    display: block;
    background-color: #ffff66;
    width: 22rem;
    padding: 0.1rem 0.2rem 0.1rem 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    border-radius: 12px;
}

p.tidakBoleh {
    font-size: small;
    display: block;
    background-color: #ff6666;
    width: 19rem;
    padding: 0.1rem 0.2rem 0.1rem 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    border-radius: 12px;
}

.thead {
    width: 10rem;
}

.tspace {
    width: 2px;
}

/* footer */
.footer-map {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    bottom: 0;
    padding: 0 4rem;
    height: 2vh;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
}

#copyright {
    display: block;
    position: relative;
    font-size: 13px;
}

.custom-mouse-position {
    display: block;
    position: relative;
}

#mouse-position {
    padding: 0 1rem;
    margin: 5px 1rem;
    font-size: 13px;
}

@media screen and (max-width: 900px) {
    .sidepanel {
        width: 80vw;
        left: -80vw;
    }

    .modalAdd-content {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 768px) {
    #button-section-group {
        width: 88%;
        height: auto;
    }

    #toggle-section-group {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 650px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #f3f3f3;
        top: 50px;
        left: -100%;
        transition: 0.5s all;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        color: rgb(25, 25, 25);
    }

    .dropdown-menu {
        position: relative !important;
        transform: translate3d(0, 0, 0) !important;
        cursor: pointer;
    }

    .dropdown-menu li {
        text-align: center;
    }

    .footer-map {
        flex-direction: column;
    }

    #mouse-position {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .sidepanel {
        width: 65vw;
        left: -65vw;
    }
}